# ReadMe

<font size="4">This Notebook is a walkthrough of various QuantLib funtionalities commonly used for financial mathematics AND an algorithm to create a time zero term structure of interest satisfying virtually any implied term structure changes via spreads.

this Notebook is divided into the following sections:<br><br>

__Inputs,Initialization and helper functions__:Section to import libraries, upload required inputs <br>
__Section 1.0__: an algorithm to create among other things what is known as the Bermuda Scenarios used for measuring interest rate risk. It essentially creates a time 0 term structure of interest by calibrating spreads between periods so that all implied term structure in future time periods are consistents with the required scenario. <br>
By creating such a time 0 curve, all is required after is simply discounting along it 
<br> Section 1.1 show how to discount with the calibrated curve

<br> __Section 2.0 to 7.0__: Examples of various financial mathematics applications such as creating a term structure of interest and working with its implied forward curves and discounting cash flows along a term structure of interest<br><br>

## Inputs, Initialization and helper functions

In [52]:
from QuantLib import *
import QuantLib as ql
import pandas as pd
import numpy as np
from copy import deepcopy
import os 
from scipy.optimize import newton, root_scalar
import bmaOs as bma
import pymongo as py
from dataclasses import dataclass

In [53]:
path='/Users/gabounet/Quant_Finance/bma_discount2019Q1.xlsx'
todayDate = ql.Date(30, 9, 2019)
dfbma=pd.read_excel(path,sheet_name='test')
dfbma['US']=dfbma['US']
dfbma['US'].head()
dfbma.insert(0, 'ID', range(0, len(dfbma)))
#dfbma['Date']=TARGET().advance(todayDate,0,Years)

In [54]:
#this connects to MongoDb which is a document database where assumptions & inputs are stored
client=py.MongoClient('mongodb://localhost:27017/')
dbt=client.bmaTest
deltas=dbt.test.find_one({'bma':'scenario approach'}) #because this is a POC the schema of the documents has not been defined yet

In [55]:
dfbma.head()

,ID,Maturity,US,Euro,UK,Switzerland,Canada,Japan,Australia,New Zealand,Hong Kong,Unnamed: 10
0,0,0 Year,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN
1,1,1 Year,0.024949,-0.004150,0.008589,-0.008367,0.019260,-0.001125,0.016224,0.015871,0.018065,0.023449
2,2,2 Years,0.023625,-0.003782,0.008867,-0.008163,0.018607,-0.001350,0.015410,0.015413,0.018651,0.020625
3,3,3 Years,0.022890,-0.003104,0.009352,-0.007725,0.018501,-0.001437,0.015476,0.015696,0.019001,NaN
4,4,4 Years,0.022692,-0.002281,0.009883,-0.006728,0.018579,-0.001387,0.016134,0.016356,0.019424,NaN

In [56]:
# 3 sample cashflows with an amount and a date of payment
cf1=ql.SimpleCashFlow(1000,ql.Date(30, 9, 2020))
cf2=ql.SimpleCashFlow(1000,ql.Date(30, 6, 2022))
cf3=ql.SimpleCashFlow(1000,ql.Date(30, 6, 2023))
cflist=[cf1,cf2,cf3]

# 1.0 Creating and calibrating a term Structure with spreads

In [57]:
dateStruct=bma.DateTimeStruct() #struct that contains defaults Date and time attributes
intStruct=bma.IntRatesStruct() #struct that contains defaults interest rates attributes

testSchedule=bma.create_schedule(dateStruct) #function to create a schedule

spotValues=dfbma['US'].tolist()[0:100]

spotT=bma.create_spotCurve(spotValues,testSchedule,dateStruct,intStruct) #function to create a spot curve

spreadT=deltas['scen8'] #deltas for KRD stored in MongoDb

myNewCurve=bma.calibrate_term_structure(spotT,spreadT,todayDate) #functioon to calibrate a term structure

# 1.1 Using the curve with calibrated spread to discount cashflows

In [51]:

spotCurveHandle2 = ql.YieldTermStructureHandle(myNewCurve) #use handle to manipulate the curve
ql.CashFlows.npv(cflist,spotCurveHandle2,True,ql.Date(30, 12, 2019)) #the Cashflows Class will discount the list of 
#cash flows with

2838.3939656443035

## 1.2 Loop to create all BMA scenarios

In [60]:


listScen=['scen2','scen3','scen4','scen5','scen6','scen7','scen8'] #select the list of scenarios you want to loop through
datesX=list(spotT.dates())
baseScen=bma.extract_info(spotT,datesX,todayDate,'base_scen')

dfList=[]
dfList.append(baseScen)
for scen in listScen:
    spreadT=deltas[scen]
    #spotT=spotCurve
    mynewCurve=bma.calibrate_term_structure(spotT,spreadT,todayDate)
    datesX=list(spotT.dates())
    test=bma.extract_info(mynewCurve,datesX,todayDate,scen)
    dfList.append(test)

#merge all into one
dfs = [df.set_index('date') for df in dfList]
finalDf=dfs[0].join(dfs[1:])    
finalDf.head()

,base_scen,scen2,scen3,scen4,scen5,scen6,scen7,scen8
date,,,,,,,,
"September 30th, 2019",0.000002,0.000003,0.000002,0.000003,0.000001,0.000002,0.000003,0.000004
"September 30th, 2020",0.024949,0.026450,0.021947,0.027951,0.010439,0.019445,0.030453,0.039460
"September 30th, 2021",0.023625,0.025875,0.019122,0.028125,0.009370,0.017873,0.029377,0.037880
"September 30th, 2022",0.022890,0.025890,0.016883,0.028890,0.008886,0.016888,0.028891,0.036893
"September 29th, 2023",0.022692,0.026440,0.015188,0.030186,0.008939,0.016441,0.028943,0.036445

## 1.3 Tests and verifications

In [10]:
#to test that all time periods for the next 99 years are within 1 basis point of the target
baseCurveHandle = ql.YieldTermStructureHandle(spotT)
#spreads[22].setValue(-0.011828281330298842*0.995)
#spotCurveHandle.forwardRate(ql.Date(30, 9, 2020),ql.Date(30, 9, 2021),ql.Thirty360(),ql.Compounded).rate()
scenHandle=ql.YieldTermStructureHandle(mynewCurve)
for year in range(1,99):
    #date1=ql.Date(30, 9, 2019+year-1)
    date1=TARGET().advance(todayDate,year-1,Years)
    #date2=ql.Date(30, 9, 2019+year)
    date2=datesX[year]
    baseImpl=ql.ImpliedTermStructure(baseCurveHandle,date1)
    scenImpl=ql.ImpliedTermStructure(scenHandle,date1)
    a=baseImpl.zeroRate(1,ql.Compounded).rate()
    
    b=scenImpl.zeroRate(1,ql.Compounded).rate()
    
    assert abs(b-a-spreadT[min(year,35)])<0.001

# Below are other various basic methods for manipulating interest rate curves

## 2.0 Obtaining forward rates from term structure of interest

In [11]:
#the forwardRate function gives the future rates between 2 times periods

spotCurveHandle = ql.YieldTermStructureHandle(spotT)
spotCurveHandle.forwardRate(ql.Date(30, 9, 2020),ql.Date(30, 9, 2021),ql.ActualActual(),ql.Compounded).rate()

0.02230038901066811

## 3.0 implied term structure method

In [12]:
#The implied term structure of interest at a given future point in time
impl=ql.ImpliedTermStructure(spotCurveHandle,TARGET().advance(todayDate,1,Years))
impl.zeroRate(1,ql.Compounded).rate()

0.02230028720965982

## 4.0 term structure with various spreads for KRD

In [13]:
spreads = [ ql.SimpleQuote(0.0) for n in datesX ]
base=bma.extract_info(spotT,datesX,todayDate)
base.head()

                   date  spot_rate
0  September 30th, 2019   0.000002
1  September 30th, 2020   0.024949
2  September 30th, 2021   0.023625
3  September 30th, 2022   0.022890
4  September 29th, 2023   0.022692

### 4.1: Test to show that adding 0 spreads equal the original term strucure

In [14]:
#implied forward curve from base
yearsInFuture=0
impl=ql.ImpliedTermStructure(spotCurveHandle,TARGET().advance(todayDate,yearsInFuture,Years))
impl.zeroRate(1,ql.Compounded).rate()

#spreads 
spreads = [ ql.SimpleQuote(0.0) for n in datesX ] # null spreads to begin
ScenarioCurve = ql.SpreadedLinearZeroInterpolatedTermStructure(ql.YieldTermStructureHandle(spotT),[ql.QuoteHandle(q) for q in spreads],datesX)


scenHandle=ql.YieldTermStructureHandle(ScenarioCurve)
scenImpl=ql.ImpliedTermStructure(scenHandle,TARGET().advance(todayDate,yearsInFuture,Years))

#cost function=
scenImpl.zeroRate(1,ql.Compounded).rate()-impl.zeroRate(1,ql.Compounded).rate()

0.0

## 5.0 discount as simple cash flow

In [16]:
cf1=ql.SimpleCashFlow(1000,ql.Date(30, 9, 2020))
cf2=ql.SimpleCashFlow(1000,ql.Date(30, 6, 2022))
cf3=ql.SimpleCashFlow(1000,ql.Date(30, 6, 2023))
cflist=[cf1,cf2,cf3]

1/(cf1.amount()*spotCurveHandle.discount(cf1.date()))*1000

1.0249667743731472

### 5.1 discount multiple cash flows

In [21]:
calc_date = Date(20, 6, 2019)
risk_free_rate = 0.01

ir=ql.InterestRate(0.04,intStruct.dayCount,intStruct.compounding,intStruct.compoundingFrequency)

discount_curve = YieldTermStructureHandle(
                    FlatForward(calc_date, risk_free_rate, ActualActual()))


cfZ=ql.SimpleCashFlow(1,ql.Date(30, 9, 2020))
ql.CashFlows.npv(cflist,spotCurveHandle,True,ql.Date(30, 12, 2019))
#1/ql.CashFlows.npv([cfZ],ir,True,ql.Date(30, 9, 2019))

2838.3939656443035

## 6.0 Match according to spot rates

In [16]:
12/22*360

196.36363636363635